:root {
	--color-white: #fff;
	--color-black: #000;
	--color-light-grey1: #dadada;
	--color-light-grey2: #999;
	--color-dark-grey: #777;
	--color-blue:- #4162b7;
}

* {
	margin: 0;
	padding: 0;
}
